<%- include('partials/header') %>
<h1> <%= recipe.name %></h1>

    <img src="<%= recipe.image%>" alt="">
    <h1><%=recipe.name%></h1>
    <p><%=recipe.description%></p>

    <%- recipe.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %> </strong> - <%= comment.text %>
            
        </p>

    <%- }) %>

<%- include('partials/footer') %>